<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/styles.css"> 
    </head>
    <body>
        {{ template "navbar" }}
        <div class="root">
            <div class="buscket">
                <div class="buscket-num">{{ .BucketNum }}</div>
                <img src="/static/img/buscket.svg" alt="buscket" class="img-buscket">
            </div>
    
            <div class ="main-container">
                {{ range .services }}
                    {{ template "product" . }}
                {{ end }}
            </div>
    
            <h2>{{ .noResults }}</h2>
    
            <a href="/static/img/image.jpg">Gopher</a>
        </div>
    </body>
</html>