{{ define "product" }}

<div class="product-card" id="{{ .ID }}">
     <img src="{{ .ImageURL }}" alt= "{{ .Nominal }}" class="product-image">
     <h2 class="product-title">{{ .Nominal }}</h2>
     <p class="product-description">{{ .Description }}</p>
     <a href="/api/banknotes/{{ .ID }}" id="try-button">Подробнее</a>
     <form action="http://localhost:8080/api/banknotes/request/{{ .ID }}" method="post">
          <input type="hidden" name="id" value="{{.ID}}"/>
          <button class="card-btn">Добавить в корзину</button>
     </form>
</div>

{{ end }}