<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/styles.css"> 
    </head>
    <body>
        {{ template "navbar" }}

        <h1>
            {{ .title }}
        </h1>

        <div class ="main-container">
            <div class="product-card" id="{{ .services.ID }}">
                <img src="{{ .services.ImageURL }}" alt= "{{ .services.Nominal }}" class="product-image">
                <h2 class="product-title">{{ .services.Nominal }}</h2>
                <p class="product-description">{{ .services.Description }}</p>
                <a href="/api/banknotes" id="try-button">home</a>
           </div>
        </div>
        
        <footer>
            <a href="/static/image.jpg">Gopher</a>
        </footer>
    </body>
</html>