{{ define "style" }}
<style>
     .product-card {
         border: 1px solid #ccc;
         border-radius: 10px;
         padding: 10px;
         margin: 10px;
         width: 300px;
         box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
         text-align: center;
     }

     .product-image {
         max-width: 100%;
         height: auto;
     }

     .product-title {
         font-size: 18px;
         font-weight: bold;
         margin-top: 10px;
     }

     .product-description {
         font-size: 14px;
         margin-top: 10px;
         text-align: left;
     }

          .product-price {
         font-size: 20px;
         font-weight: bold;
         color: #e74c3c;
         margin-top: 10px;
     }
     .try-button {
         border-radius: 5px;
         background-color: rgb(57, 230, 57);
         border: 0px;
     }
</style>

{{ end }}